$primary-light-mode: #A5CD36;
$secondary-light-mode: #B74287;
$tertiary-light-mode: #000;
$background-light-mode: #FFF;

$primary-dark-mode: #000;
$secondary-light-mode: #C25695;
$tertiary-dark-mode: #A5CD36;
$background-dark-mode: #000;