.NavMain {
  display: flex;
}

.NavMain ul {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-around;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding-inline-start: 0;
  width: 100%;
}

.NavLink a {
  font-weight: bold;
}

@media screen and (min-width: 321px) {
  .NavLink a:focus, .NavLink a:hover {
    background: transparent;
    outline: 0.2rem solid;
    outline-offset: 0.6rem;
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  .NavLink a:focus, .NavLink a:hover {
    background: transparent;
    outline: 0.2rem solid;
    outline-offset: 0.4rem;
    text-decoration: none;
  }
}