html, body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  margin-block-start: 0rem;
  margin-block-end: 2rem;
}

h2, h3, h4, h5, h6 {
  margin-block-start: 0rem;
  margin-block-end: 1rem;
}

p {
  margin-block-start: 0rem;
  margin-block-end: 1rem;
}

strong.Opt {
  font-weight: normal;
}